@using Microsoft.AspNetCore.Identity
@using DiplomaWork.Data
@using DiplomaWork.Models.Constants

@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProService</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Домашняя страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Requests" asp-action="Create">Создать зявку</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }
            @RenderBody()

            <div class="row" style="z-index: 999; position: absolute; bottom: 80px; right: 30px; width:100%;">
                <div id="notificationsdiv" class="col-6 offset-6" style="padding-top:5px"></div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">           
            &copy; 2021 - ProService - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/servicehub")
            .build();

        hubConnection.on("RequestStateChanged", function (requestId, message) {
            let url = '@Url.Action("Details", "Requests")';

            document.getElementById("notificationsdiv").insertAdjacentHTML("afterbegin",
                "<div class='alert alert-primary alert-dismissible fade show' role='alert'>" +
                "<a href='" + url + "/" + requestId + "'>" + message + "</a>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                        "<span aria-hidden='true'>&times;</span>" +
                    "</button >" +
                "</div >");
        });

        hubConnection.start();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
