@model IEnumerable<DiplomaWork.Models.Requests.RequestModel>

@{
    ViewData["Title"] = "Контроль качества";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h3>Контроль качества <span class="badge badge-pill badge-info">@Model.Count()</span></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Requests" asp-route-id="@item.Id.ToString("N")">Детали</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
    
